<div class="div4 w-clearfix"  style="width: 100%;">
      <div class="contproducto contpubli" style="height: 446px; width: 100%;">
        <div class="productoimg publicimg" style="background-image:url('http://104.131.113.114:3002/api/containers/entity_{{item.entityId}}/download/{{item.id}}.advert')">
          <div class="divprecio">
            <div class="price">{{ item.price }}</div>
          </div>
        </div>
        <div class="footer">
          <div class="descproducto w-clearfix" style="height: 163px;">
            <div class="logo"><img class="logopublic" src="http://104.131.113.114:3002/api/containers/entity_{{item.entityId}}/download/logo.image">
            </div>
            <h1 class="tituloproduct">{{ item.title  }}</h1>
            <p class="descrippubli">{{ item.description  }}</p><a class="ir-a" href="#">Ir a Comercio Premium</a>
          </div>
        </div>
      </div>
    </div>