<div class="divlogin">
    <div class="imglogin">
        <h1 class="titellogin">AZ CLUB</h1>
        <h1 class="desclogin">¡Disfrutá nuestra app!</h1>
        <div class="formwrtapper w-form">
            <form class="formusuario" data-name="Email Form" id="email-form" name="email-form">
                <input class="txtfield w-input" data-name="E-mail" id="E-mail" maxlength="256" name="E-mail" placeholder="E-mail" type="text">
                <input class="txtfield w-input" data-name="Usuario" id="Usuario" maxlength="256" name="Usuario" placeholder="Usuario" type="text">
                <input class="txtfield w-input" data-name="Contraseña" id="Contrase-a-2" maxlength="256" name="Contrase-a" placeholder="Contraseña"
                    type="password">
                <input class="iniciarsesion w-button" data-wait="Cargando..." type="submit" value="Registrarme en AZ Club">
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form</div>
            </div>
        </div>
    </div>
</div>