<div class="divpopupmsje">
    <div class="divformmensj">
      <div class="w-form">
        <form class="w-clearfix" data-name="Email Form" id="email-form" name="email-form">
          <div class="divtxtmsje w-clearfix"><img class="iconomsje" src="images/envelope-1.svg">
            <label class="destinatario" for="name">Para Comercio Premium</label>
            <a class="cerrarmsje w-inline-block" ng-click="close()"><img class="cerrar" src="images/cancel.svg">
            </a>
          </div>
          <textarea class="mensaje w-input" id="field" maxlength="5000" name="field" placeholder="Escribe tu mensaje aquí"></textarea>
          <input class="enviar w-button" data-wait="Enviando mensaje..." type="submit" value="Enviar mensaje">
        </form>
        <div class="succescaja w-form-done">
          <div class="succes">¡Tu mensaje ha sido enviado con éxito!</div><img class="robot" src="images/robotredes.png">
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </div>