<div class="divposugerir">
    <div class="w-form">
      <form data-name="Email Form 2" id="email-form-2" name="email-form-2">
        <div class="w-clearfix"><img class="iconomsje" src="images/share-symbol.svg">
          <label class="destinatario" for="name">Recomendar Comercio Premium</label>
          <a class="cerrarmsje w-inline-block" ng-click="close()"><img class="cerrar" src="images/cancel.svg">
          </a>
        </div>
        <input class="destino1 w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Nombre del destinatario" type="text">
        <input class="destino1 w-input" data-name="Email" id="email" maxlength="256" name="email" placeholder="Ingresá el e-mail del destinatario" required="required" type="email">
        <input class="enviar w-button" data-wait="Enviando..." type="submit" value="Recomendar">
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
  </div>